<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Афиша в Победе</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: #1a1a1a;">
    <div class="container">
        <div class="row text-white">
            <div class="col text-center">
                <h1>Афиша кинотеатра "Победа"</h1>
                <h4 class="font-weight-light">от {{ update_datetime }}</h4>
                <h4 class="font-weight-light">Всего событий: {{ events_count }}</h4>
                <div class="alert alert-danger" role="alert">
                    Все материалы, относящиеся к кинотеатру «Победа», принадлежат
                    <a href="{{ vpobede_url }}" class="alert-link">центру культуры и отдыха «Победа»</a>.
                </div>
            </div>
        </div>
        {% for _, event_group in event_groups.items() %}
            <div class="row">
                {% if event_group['name'] %}
                    <h1 class="text-white">{{ event_group['name'] }}</h1>
                {% endif %}
                {% for event_id in event_group['events'] %}
                    <div class="card text-white bg-dark mb-3">
                        <h4 class="card-header">
                            {{ events[event_id]['name'] }}
                            {% if events[event_id]['name_eng'] %} | {{ events[event_id]['name_eng'] }} {% endif %}
                            ({{ events[event_id]['year'] }}, {{ events[event_id]['country'] }})
                        </h4>
                        <div class="card-body">
                            <img src="{{ events[event_id]['billboard_url'] }}" alt="{{ events[event_id]['name'] }}" class="img-thumbnail rounded float-left mr-3">
                            <div class="card-title">{{ events[event_id]['lead']|default('', true)|safe }}</div>
                            <div class="card-text">{{ events[event_id]['description']|default('', true)|safe }}</div>
                            <hr>
                            <div class="card-text">
                                {% if events[event_id]['performance']['session2d'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">2D</div>
                                {% endif %}
                                {% if events[event_id]['performance']['session3d'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">3D</div>
                                {% endif %}
                                {% if events[event_id]['performance']['session4k'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">4K</div>
                                {% endif %}
                                {% if events[event_id]['performance']['session48fps'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">48fps</div>
                                {% endif %}
                                {% if events[event_id]['performance']['sessionSubtitles'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">Субтитры</div>
                                {% endif %}
                                {% if events[event_id]['session_baby'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">Для детей</div>
                                {% endif %}
                                {% if events[event_id]['session_only_here'] %}
                                    <div class="d-inline pr-1 pl-1 mr-1 bg-primary text-white">Только в Победе</div>
                                {% endif %}
                                <br><strong>Жанр</strong>:&nbsp;
                                {% for genre in events[event_id]['genres'] %}
                                    {{ genre }} &nbsp;
                                {% endfor %}
                                {% if events[event_id]['director'] %}
                                    <br><strong>Режиссёр</strong>:&nbsp;
                                    {{ events[event_id]['director'] }}
                                {% endif %}
                                <br><strong>Длительность</strong>:&nbsp;
                                {{ events[event_id]['duration']|default('--', true) }} мин.
                                <br><strong>Дни сеансов</strong>:&nbsp;
                                {% for session in events[event_id]['sessions_days'] %}
                                    {{ session }} &nbsp;
                                {% endfor %}
                            </div>
                            <br>
                            <a href="https://vpobede.ru/event/{{ events[event_id]['slug'] }}" class="btn btn-primary">Подробнее...</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>